// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Import Custom Styles
@import './Navbar/_Navbar.scss';

._Home {

}

._Footer {
  background-color: #000;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
}

.App {
    background-color: #bbb;
    position:relative;
    min-height: 98vh;
}

@media screen and (min-width: 770px) {
    ._sideToggle {
        display: none !important;
    }
}
