// Navbar
$navbar-height:                 4rem;

// Footer
$footer-height:                 3.5rem;

// Nav + Footer
$nav-footer-height:             $navbar-height + $footer-height;

// _AccountCard
$account-totals-font-size:      12px;